<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qigan.qiganshop.mapper.VersionMapper">
    <resultMap id="BaseResultMap" type="com.qigan.qiganshop.pojo.Version">
        <id column="versionId" property="versionId" jdbcType="VARCHAR"/>
        <result column="versionCode" property="versionCode" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="typeCode" property="typeCode" jdbcType="VARCHAR"/>
        <result column="apkUrl" property="apkUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        versionId, versionCode, createTime, typeCode, apkUrl
    </sql>
    <insert id="add" parameterType="com.qigan.qiganshop.pojo.Version">
        insert into tb_version (versionId, versionCode, createTime, apkUrl, typeCode)
        values (#{versionId,jdbcType=VARCHAR}, #{versionCode,jdbcType=VARCHAR}, now(), #{apkUrl,jdbcType=VARCHAR},
                #{typeCode,jdbcType=VARCHAR})
    </insert>

    <select id="get" resultMap="BaseResultMap" parameterType="string">
        select *
        from tb_version
        where typeCode = #{type}
        order by createTime
    </select>
    <select id="getMax" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_version
        where typeCode = #{type}
        order by createTime desc limit 0,1
    </select>

</mapper>